* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

ul {
  list-style-type: none;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

.debug {
  outline: 1px dashed #F006;
  outline-offset: -1;
}
